<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="DrawIt Helper">
    <meta property="og:description" content="DrawIt helper for novice players">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://nicktheway.github.io/DrawIt_Vue/static/artist-palette-emoji-clipart-original-256x256.png">
    <meta property="og:url" content="https://nicktheway.github.io/DrawIt_Vue/">
    <meta property="fb:admins" content="1159814938">
    <link rel="shortcut icon" href="static/artist-palette-emoji-clipart-original.png" type="image/png">
    <link rel='stylesheet' href='styles.css'>
    <title>DrawIt Helper</title>
    <script src="modules/vue.min.js" defer></script>
    <script src="modules/axios.min.js" defer></script>
    <script src="modules/papaparse.min.js" defer></script>
</head>
<body>
    <div id="DrawIt">
        <div class="app">
            <div class="app-menu-container">
                <div class="app-menu">
                    <div class="app-menu-item">
                        <p class="app-menu-label">Πόσες λέξεις;</p>
                        <input v-model="wordNumInput" type="number" min="0" max="5">
                    </div>
                    <div class="app-menu-item">
                        <p class="app-menu-label">Τι έχουμε;</p>
                        <input v-model="textFilter">
                    </div>
                </div>
            </div>
            <div class="app-wordlist">
                <div class="loader" v-show="wordSets.length === 0"></div>
                <template v-for="word in words">
                    <div v-show="word.full.startsWith(textFilter) && (wordNum === 0 || word.wordData.length == wordNum)" @click="copyToClipboard(word.full, $event)">
                        <span class="app-word">{{word.full}} ({{word.full.length}})</span>
                    </div>
                </template>
            </div>
        </div>
    </div>
</body>
<script src="src/index.js"></script>
</html>