<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="#"/>
    <title>Document</title>
    <script src="modules/vue.min.js"></script>
    <script src="modules/axios.min.js"></script>
    <script src="modules/papaparse.min.js"></script>
    <script src="modules/require.min.js"></script>
</head>
<body>
    <div id="DrawIt">
        <p>{{getList()}}</p>
        <input v-model="textFilter">
        <p>{{textFilter}}</p>
        <template v-for="word in words">
            <div v-show="word.full.startsWith(textFilter)">
                {{word.full}}: {{word.full.length}} ({{word.wordData.length}})
            </div>
        </template>
    </div>
    
    
</body>
<script src="src/index.js"></script>
</html>