:root {
  --accent-color: #516267;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .app {
      display: flex;
      flex-direction: column;
      height: 100vh;
      font-family: "Trebuchet MS", sans-serif;
  }
  
  .app-menu-container {
    padding: 20px;
    background-color: var(--accent-color);
    color: white;
    display: flex;
    justify-content: center;
  }

  .app-menu {
    /* border: 1px solid #fff;  For debugging */
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .app-menu-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0.707em;
  }

  .app-menu-label {
    margin-bottom: 3px;
  }

  .app-wordlist {
    color: black;
    text-align: center;
    overflow: auto;
    margin: 16px;
  }

  .app-word {
    cursor: pointer;
  }

  /* ---- SPINNER ---- */
.loader,
.loader:before,
.loader:after {
  background: var(--accent-color);
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: var(--accent-color);
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
